/* ============ GOOGLE FONTS ================= */
/*
  * ─── BODY TEXT */@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

  /* font-family: 'Concert One', cursive; */
:root{
    /* ============ LINE HEIGTH FOR TEXT ============== */
    --line-h:4.5rem;
    /* ============ COLORS ================== */
    --body-text:#ffffffff;
    --chating-text:#000;
    --bg-color:linear-gradient(48deg,rgba(171, 252, 255,.9),rgba(255, 253, 152,.8));
    --glass-color:linear-gradient(48deg,rgba(157, 231, 253, 0.72),rgba(238, 242, 161, 0.755));
}

/* =============== BASE ================= */
*,::before,::after{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{display:none;}
body{
    font-family: 'Concert One', cursive;
    line-height:var(--line-h);
    margin:0;
    text-transform: capitalize;
    background:var(--bg-color);
}
p,span,h1,h2,ul{
    margin:0;
    padding:0;

}
a{
    text-decoration:none;
    color:white;
}
li{
    list-style: none;
    display:block;
}
img{
    max-width: 200px;
}
/* =============== CSS CLASS ============ */
main{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.title{
    color:rgba(96, 197, 201, 0.679);
    text-transform: uppercase;
    font-size:2.2rem;
}
.subtitle{
    color:rgba(177, 209, 89, 0.624);
    font-size:1.7rem;
    text-transform: capitalize;
}
.button{
    border: none;
    background:var(--glass-color);
    padding:2rem 5rem;
    font-size: 2rem;
}
/* =============== GLASS CONTANT ============ */
/* ====================DASHBOARD================ */
/* =====================CHATING_SECTION============= */
.glass{
    height:80vh;
    /* min-width: 50vw; */
    width:80vw;
    background: var(--glass-color);
    border-radius:4rem;
    box-shadow:0 0 9rem rgba(0,0,0,.29);
    backdrop-filter: blur(.3rem);
    display: flex;
    position: relative;
}
.dashboard{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.597);
    border-radius: 4rem 2rem 2rem 4rem;
}
.chating_section{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align:center;
    position: relative;
}
/* ============= BACKGROUND CIRCLE ============ */
.bg-circle{
    background: var(--bg-color);
    position:absolute;
    border-radius: 50%;
    z-index:-1;
    box-shadow:0 0 9rem rgba(0,0,0,.19);
    animation:bg-circle 6s infinite;
    animation-delay:calc(1s * var(--i));

}
.bg-circle:nth-child(2){
    top:0;
    left:0;
    height: 300px;
    width:300px;
}
.bg-circle:nth-child(3){
    bottom:0;
    right:0;
    height: 300px;
    width:300px;
}
@keyframes bg-circle {
    0%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(-40px);
    }
}

/* ================== CONTANT SECTION =========== */
/* ====================DASHBOARD================ */
.profile{
    background:rgba(171, 223, 225, 0.296);
    border-radius:4rem 2rem 0 0;
    width: 100%;
    flex:1;
    position:relative;
}
.profile img{
    width:15rem;
    filter:drop-shadow(0 0 1rem rgba(0,0,0,.5));
}
.menu{
    flex:2;
    position:relative;
}
.menu .link-items .link{
    font-size:3.5rem;
    margin-top:3rem;
}
.menu .link-items .link i{
    color:rgba(96, 197, 201, 0.679);
    display: block;
}
.menu .link-items .link  a{
    color:rgba(96, 197, 201, 0.679);
}
.author{
    background:rgba(10, 10, 10, 0.542);
    border-radius:0 0 2rem 4rem;
    width:100%;
}
.author img{
    width:105px;
    opacity:.4;
    padding:1rem;
    border-radius: 50%;
}
/* =================== CHATING SECTION ==================== */
.title_section img{
    width: 150px;
    filter:drop-shadow(0 0 3rem rgba(0,0,0,.5));
    padding:2rem;
}
 .massage_section{
    flex:1;
    flex-direction: column;
    min-width: 90%;
    margin-top:2rem;
    border-radius: 5rem 5rem 2rem 0;
    height: 300px;
    background: var(--bg-color);
    overflow: scroll;
    position: relative;
}
.control_section input[type="text"]{
    position:absolute;
    bottom: 0;
    width:100%;
    border:none;
    border-radius: 1rem 0 3rem 1rem;
    padding:2.4rem;
    right:0;
}
.control_section  .button{
    position:absolute;
    bottom: 0;
    border-radius: 5rem 0 3rem 5rem;
    right:0;
}
.control_section  .button a{
    color:#000;
}
.userMassages{
    position: relative;
    float: right;
    font-size:2rem;
    border-radius: 5rem 0;
    background:rgba(111, 233, 156, 0.604);
    margin-top:2rem;
    max-width: 100%;
    width: 50%;
}
@media only screen and (max-width:640px){
    .glass{
    flex-direction: column;
    height: auto;
    }
   .massage_section{
      min-height: 50vh;
      overflow: scroll;
   }
}